@charset "UTF-8";

section#conteudo {
    width: 2000px;
    margin: auto;
}

iframe#frame-spec {
    width: 980px;
    height: 380px;
    border: none;
    overflow-x: hidden;
    /*float: right; /*Resolvi flutuando a direita*/
}

iframe#frame-spec::-webkit-scrollbar {
    display: none;
}

area {
    outline: none;
}